# Ignore system files
Thumbs.db
.DS_Store

# Ignore log files
*.log

# Ignore temporary editors / IDE files
*.swp
*.tmp
*.bak

# Ignore Node modules (if any)
node_modules/

# Ignore OS-specific files
.BIN/
*.lnk
